<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212372265284-g9k16gshnpo52fkbtl83rv3esodc6e57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212372265284-g9k16gshnpo52fkbtl83rv3esodc6e57</string>
	<key>API_KEY</key>
	<string>AIzaSyCQGBN0mYmVzkpd5u934-97LouVTfbQjaU</string>
	<key>GCM_SENDER_ID</key>
	<string>212372265284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.utsman.cmpbasic.KotlinComposeMultiplatform1</string>
	<key>PROJECT_ID</key>
	<string>compose-multiplatform-e5ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>compose-multiplatform-e5ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212372265284:ios:1b4dbb681281aae823df11</string>
</dict>
</plist>